build/*
samples/*
/Makefile
/Makefile.in
/doc/Makefile.in
/doc/Doxyfile.in
/src/Makefile.in
/src/Makefile
/src/config.*
/aclocal.m4
/autom4te.cache/
/compile
/configure
/depcomp
/install-sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
*.o
*.gch
*~
